asgiref==3.11.1
astroid==4.0.4
colorama==0.4.6
dill==0.4.1
Django==6.0.6
django-cors-headers==4.9.0
django-tenants==3.10.1
djangorestframework==3.17.1
isort==8.0.1
mccabe==0.7.0
platformdirs==4.10.0
psycopg2-binary==2.9.12
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==4.0.5
python-dotenv==1.2.2
sqlparse==0.5.5
tomlkit==0.15.0
tzdata==2026.2
